.form-wrapper {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  font: 16px "Roboto", sans-serif;
}

* {
  box-sizing: border-box; }

.form-wrapper {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }

.contact-form {
  width: 100%;
  max-width: 460px;
  padding: 60px;
  background:  rgb(188, 248, 250);
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3); }
  .contact-form__title {
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    color: #362900;
    font-size: 13px;
    margin: 0 0 30px; }
  .contact-form__message {
    text-align: center; }
  .contact-form__input_name {
    height: 50px;
    border: 1px solid #282a2e;
    border-radius: 5px;
    width: 100%;
    background: url("/icons/calendar-clock.svg") center left 15px no-repeat, #defaf9de;
    background-size: 30px;
    margin-bottom: 3px;
    padding: 15px 15px 0 59px;
    font: 16px "Roboto", sans-serif;
    color: rgb(56, 52, 2);
    transition: 0.3s; }

  #name2
    {
      background: url("/icons/map-marker.svg") center left 15px no-repeat, #defaf9de;
      background-size: 30px;
    }
    #name3
    {
      background: url("/icons/users.svg") center left 15px no-repeat, #defaf9de;
      background-size: 30px;
    }
    #name4
    {
      background: url("/icons/people-carry-box.svg") center left 15px no-repeat, #defaf9de;
      background-size: 30px;
    }
    #name7
    {
      background: url("/icons/people-poll.svg") center left 15px no-repeat, #defaf9de;
      background-size: 30px;
    }
    #name6
    {
      background: url("/icons/coins.svg") center left 15px no-repeat, #defaf9de;
      background-size: 30px;
    }
     .namebig:focus {
     
      height: 110px;
    }
    


   .form-wrapper .contact-form__input_name:focus {
      transition: 0.3s;
      border: 1px solid rgba(255, 241, 198, 0.2); }
  .contact-form__input_phone {
    height: 50px;
    border: 1px solid #282a2e;
    border-radius: 5px;
    width: 100%;
    background: url("/icons/call-incoming.svg") center left 15px no-repeat, #defaf9de;
    background-size: 30px;
    margin-bottom: 20px;
    padding: 0 15px 0 59px;
    font: 16px "Roboto", sans-serif;
    color: rgb(46, 45, 1);
    transition: 0.3s; }
    .contact-form__input_phone:focus {
      transition: 0.3s;
      border: 1px solid rgb(120, 255, 255); }
  .contact-form__input_file {
    display: none; }
  .contact-form__file-button {
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid #262c01;
    border-radius: 5px;
    width: 100%;
    background: url("/icons/download.svg") center left 15px no-repeat,#defaf9de;
    background-size: 30px;
    margin-bottom: 20px;
    padding: 0 15px 0 59px;
    font: 16px "Roboto", sans-serif;
    color: #757575;
    cursor: pointer; }
  .contact-form__button {
    background: rgb(1, 56, 63);;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: none;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    font: 16px "Roboto", sans-serif;
    transition: 0.3s;
    color: #fffaae;
    cursor: pointer; }
    .contact-form__button:hover {
      transition: 0.3s;
      background: #127279;
      color: rgb(236, 252, 99);
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3); }

.preloader {
  position: relative;
  margin: 0 0 0 45%;
  height: 15px;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 0.3s; }
  .preloader_active {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 0.3s; }
  .preloader:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    content: "";
    position: absolute;
    background: #393e46;
    animation: preloader_before 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1); }
  .preloader:after {
    width: 12px;
    height: 12px;
    left: 15%;
    border-radius: 50%;
    content: "";
    position: absolute;
    background: #5f646c;
    animation: preloader_after 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1); }

@keyframes preloader_before {
  0% {
    transform: translateX(0px) rotate(0deg); }
  50% {
    transform: translateX(160px) scale(1.5) rotate(264deg);
    background: #00adb5;
    border-radius: 0; }
  100% {
    transform: translateX(0px) rotate(0deg); } }
@keyframes preloader_after {
  0% {
    transform: translateX(0px) rotate(0deg); }
  50% {
    transform: translateX(-160px) scale(1.5) rotate(-264deg);
    background: #00fff5;
    border-radius: 0; }
  100% {
    transform: translateX(0px); } }
@media (max-width: 768px) {
  .form-wrapper {
    padding: 15px; } }
@media (max-width: 480px) {
  .contact-form {
    padding: 30px 15px; }
    .contact-form__title {
      font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
.form-check {
  color: rgb(2, 2, 2);
  margin-top: 10px;
  font-size: 12px;
  border: #757575 1px solid;
  padding: 5px;
  box-shadow: 2px 2px 1px 2px #00777e;
}
.form-check a {
  color: rgb(93, 109, 252);
  margin-top: 10px;
}
.form-check a:hover {
  color: rgb(7, 15, 63);
}