
body {
  
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(179, 255, 239);
  background-image: url(/img/back.jpeg);
}
.hidden{
  overflow: hidden;
}


nav {
  width: 100%;
  position: fixed;
  z-index: 8;
  top: 0;
  transition: top 0.3s;
  
}
.nav-list {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  height: 45px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color:rgb(1, 56, 63);
  border-bottom: 2px solid rgb(250, 248, 248);
  border-top: 2px solid rgb(250, 248, 248);
  

}
.nav-list li a {
text-decoration: none;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}


.logo-list {
  width: 100%;
  
  background-image: url(/img/foot.jpeg);
  margin: 0;
  padding:3em 0 2em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff00;
}
.logo-text{
    position: relative;
    top: 20px;
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5cfaff;
    
}
.logo-img img{
    margin-top: 20px;
    margin-left: 10px;
    width: 110px;
    
}

.center {
  display: flex;
  justify-content: flex-end;
  
}
.fire {
 
  position: absolute;
  top: 122px;
  
}


.fire1 {
  position: absolute;
  width: 140px;
  left: -150px;
}
.fire2 {
  position: absolute;
  width: 130px;
  left: -150px;
  top:-10px
}



.demon {
  position: absolute;
  top: 43px;
}
.demon_left{
  position: absolute;
  left: -125px;
  width: 40px;
}
.demon_right{
  position: absolute;
  left: -85px;
  width: 40px;
}



.banshee{
  width: 50px;
  position: absolute;
  top: 140px;
  right: 0;
  
  
}

.map {
border-bottom: 12px;
border-top: 12px;
box-shadow:   2px 2px 2px 0 white,
 0 0 0 2px #4f5054,
 0 0 0 3px black,
 -3px -3px 3px 2px white,
 0 0 0 5px #6c6d70,
 0 0 0 6px black;
 margin-bottom: 25px;
}






.btn {
  border: none;
  display: block;
  width: 30px;
  height: 30px;
  background-color:rgb(22, 10, 0);
 
  border: solid 2px #000000;
}


/* Кнопка выпадающего списка */
.dropbtn2 {
  height: 2em;
  background-color: #27010100;
  border-radius:10px;
  color: white;
  padding: 2px 6px 2px 6px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border: solid 1px rgb(255, 255, 255);
}
.dropbtn2:active {
  background-color: rgb(0, 83, 94);
}




/* ДОРОБОТАТЬ На небольших экранах, где высота меньше 450px, измените стиль sidebar (меньше отступов и меньший размер шрифта) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} 

.hamburger {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 20px;
}
.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 5px;
  transition: 0.5s all;
}
.hamburger_active .e {
  transform: translateY(3px) rotate(-45deg);
  margin-bottom: -2px;
}
.hamburger_active .r {
  display: none;
  margin-bottom: -2px;
}
.hamburger_active .t {
  margin-bottom: -2px ;
  transform: translateY(3px) rotate(45deg);
  }
.menu{
  display: flex;
	margin: 0;
	list-style-type: none;
  position: fixed;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(1, 56, 63);
  transition: 0.6s all;
  
}
.menu_active{
  left: 0;
  
}
.menu_item {
  border-right: 2px dotted rgb(1, 56, 63);;
  padding: 2.5vh 0;
	border: none;
	
}
.menu_item_image {
  width: 8em;
 
}
.menu_link {
  color: #f0ecec;
	text-decoration: none;
  font-size: 20px;
 
}







/* Поле поиска */
#myInput {
  width: 50vw;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: fixed;
  top:48px;
  z-index: 4;
  
  background-color:rgb(254, 255, 255);
  color:rgb(0, 0, 0);
  box-sizing: border-box;
  background-image: url('icons/search.svg');
  background-size: 25px ;
  background-position: 2px 6px;
  background-repeat: no-repeat;
  font-size: 17px;
  padding: 12px 20px 12px 35px;
  border: none;
 


}


/* Поле поиска, когда он получает фокус/нажал на */
#myInput:focus {
  outline: none;
  border-bottom-right-radius:90px;
  border-top-right-radius:90px;
  width: 90%;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
  
}


/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  left: -15px;
  background-color: rgb(233, 233, 233);
  width: 50vw;
  align-items: flex-start;

  flex-wrap: wrap;
  min-height: 0vmax;
  max-height:  60vmax;
  top: 83px;
  overflow:scroll;
  line-height: 30px;
 
}


/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  width: 100%;
  color: rgb(0, 66, 121);
  padding: 7px 16px;
  text-decoration: underline;
  font-size: 18px;
  display: block;
  border-bottom:solid 1px #000;
  
}
.dropdown-content a:hover {background-color: rgb(170, 170, 170)}

.dropdown-content a:visited {
  color: rgb(0, 66, 121);
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс в .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
  display:flex;
  

} 
/* Изменение цвета выпадающих ссылок при наведении курсора */




  
.shabash-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    padding-top: 10px;
   
    
  }
.grid {
    grid-template-columns: 1fr;
    
}
.shabash{

margin: 5px 0;
padding: 4px 4px;
background-color: rgb(1, 56, 63);
border-bottom-left-radius: 12px;
border-top-right-radius: 12px;
box-shadow:   2px 2px 2px 0 white,
              0 0 0 2px #4f5054,
              0 0 0 3px black,
              -3px -3px 3px 2px white,
              0 0 0 5px #6c6d70,
              0 0 0 6px black;

}

.shabash span {
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.button_contacts {
  margin: 0 12px 12px 0px;
  padding: 5px ;
  box-shadow: 0 2px rgba(0, 0, 0, 0.473);
  border-radius: 9px;
  background:#f0ecec00;
  border: solid 2px rgb(22, 10, 0);
}
.button_contacts:hover{background-color: rgb(36, 17, 1);}
.button_contacts:hover a{color: rgb(243, 240, 237);}
.button_contacts a{
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.contacts span{
  font-size: 18px;
  font-weight: bold;
}

.request, .contacts {
  display: flex;
  justify-content: space-between;
}
time{
  font-size: 12px;
}
.shabash h2{
display: flex;
justify-content: space-between;
margin: 0;
padding: 5px 5px 0 20px;
font-size: 18px;

}

.shabash ul {
  line-height: 30px;
   color: rgb(255, 255, 255);
   text-align: center;
 }
 .shabash ul li {
   text-align: left;
   color: rgb(255, 255, 255);
   padding-left: 2rem;
   background-image: url(/icons/flame.svg);
   background-position: 0 5px;
   background-size: 1.1rem 1.1rem;
   background-repeat: no-repeat;
 }
 .shabash h2 img {
   position: relative;
   top: 3px;
   width: 20px;
 }

.ears {
  position: relative;
}
.ears img{
  position: absolute;
  top: -19px;
}









.page-footer {
background-image: url(/img/foot.jpeg);
margin-top: 18px;
font-size: 12px;
padding: 10px;
padding-top: 25px;

box-shadow:   2px 2px 2px 0 white,
 0 0 0 2px #4f5054,
 0 0 0 3px black,
 -3px -3px 3px 2px white,
 0 0 0 5px #6c6d70,
 0 0 0 6px black;
}


.page-footer a{
  
  font-size: 13px;
  text-decoration: none;
  color: #fdfdfd;
}

.footer-list {
  
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas: "vk tel wat"
                        "text-vk text-tel text-wat";
gap: 5px;
align-items: center;
}


.vk {
grid-area: vk;
margin: 0 auto;
width: 40px;
}

.text-vk{
grid-area: text-vk;
margin: 0 auto;
padding: 3px;
text-decoration: none;
color: rgb(255, 255, 255);

}
.vk img{
  width: 40px;
}

.tel {

grid-area: tel;
margin: 0 auto;
}
.tel img{
  width: 40px;
}
.text-tel {
grid-area: text-tel;
margin: 0 auto;
padding: 3px;
color: rgb(255, 255, 255);

text-decoration: none;

}

.wat{
width: 40px;
grid-area: wat;
margin: 0 auto;
}
.wat img {
  width: 40px;}

.text-wat{
grid-area: text-wat;
margin: 0 auto;
padding: 3px;
color: rgb(255, 255, 255);


}

.copyright {
padding-top: 10px;
color: rgb(250, 250, 250);
}









